<% include ./partials/header %>
    
  
        <div class="row">
            <div class="columns large-6">
                <h4>Login</h4>
        
                    <form name="login" method="post">
                        <input type="text" name="User_name" id="User_name"/>
                        <input type="password" name="Password" id="Password"/>
                        <button name="Submit" id="Submit">Submit</button>
                    </form>

            </div>
        </div>
    
    <% include ./partials/footer %>    
    
